<%-include('./partial/header.ejs')-%>
    <br><br>
    <div class="bodyabout" style="width: 100%; height: 100%;">
        <div class="fade-in-textabout">
            <h1 class="h1about">this page is about holy fucking site.</h1>
        </div>

        <head>
            <link rel="stylesheet" href="us.css">
        </head>


        <h2 class="h2about" style="font-size: 5vw; color: white; margin-left: 10px;">
            Global warming is a hike in the average global temperature on earth. Burning of excess fossil fuel and the release of toxic fumes into the atmosphere is the major cause behind global warming. Global warming can have disastrous effects on living organisms.
            The impacts of global warming are widespread and unspecific.
        </h2>
    </div>


    <%-include('./partial/footer.ejs')-%>